Flask
Flask_Cors
gradio==3.18.0
numpy
playsound
pydub
requests
scipy
sounddevice
SoundFile
starlette
torch
torchaudio
tqdm
scikit-maad
praat-parselmouth
onnx
onnxsim
onnxoptimizer
fairseq
librosa
edge-tts
